{\rtf1\ansi\ansicpg1252\cocoartf2822
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fswiss\fcharset0 ArialMT;\f1\froman\fcharset0 Times-Roman;\f2\fmodern\fcharset0 CourierNewPSMT;
\f3\fswiss\fcharset0 Helvetica-Bold;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;\red26\green26\blue26;\red255\green255\blue255;
\red13\green13\blue14;\red173\green45\blue55;\red245\green245\blue247;}
{\*\expandedcolortbl;;\cssrgb\c0\c0\c0;\cssrgb\c13333\c13333\c13333;\cssrgb\c100000\c100000\c100000;
\cssrgb\c5882\c5882\c6275;\cssrgb\c74118\c25490\c27843;\cssrgb\c96863\c96863\c97647;}
\paperw11900\paperh16840\margl1440\margr1440\vieww29200\viewh17820\viewkind0
\deftab720
\pard\pardeftab720\partightenfactor0

\f0\fs29\fsmilli14667 \cf0 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 ANTHROPIC_API_KEY=
\fs26 \cf3 \cb4 \outl0\strokewidth0 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
\f1\fs24 \cf0 \cb1 \outl0\strokewidth0 \strokec2 \

\f0\fs29\fsmilli14667 \strokec2 SUPABASE_URL=https://tzkdsiqqbkpqxwvatlaw.supabase.co
\f1\fs24 \strokec2 \
SUPABASE_ACCESS_TOKEN=sbp_db9d06f95691a4a843ff51098c02a31e60a961e9
\f0\fs29\fsmilli14667 \strokec2 SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR6a2RzaXFxYmtwcXh3dmF0bGF3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQ3NjY3NywiZXhwIjoyMDg3MDUyNjc3fQ.6iLVgm6hDNvJHrjgmFLlmj-1KgMOLvV2i3CaQxBphn4
\f1\fs24 \strokec2 \

\f0\fs29\fsmilli14667 \strokec2 SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR6a2RzaXFxYmtwcXh3dmF0bGF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0NzY2NzcsImV4cCI6MjA4NzA1MjY3N30.MVvEqymvqD-XNxUiHWeDYi9B3qG7UKjVS_xcOP_ZRIk
\f1\fs24 \strokec2 \

\f0\fs29\fsmilli14667 \strokec2 APIFY_API_KEY=apify_api_iUfkZTLG23PPaYCuUiFCxuNDVXYjxP2vXxlK
\f1\fs24 \strokec2 \

\f0\fs29\fsmilli14667 \strokec2 REPLICATE_API_KEY=r8_f1079CRNmsvyWlBwW0ZkyS0TPqJUMC73S2omL
\f1\fs24 \strokec2 \

\f0\fs29\fsmilli14667 \strokec2 GROQ_API_KEY=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
\f1\fs24 \strokec2 \

\f0\fs29\fsmilli14667 \strokec2 ELEVENLABS_API_KEY=
\fs32 \cf5 \cb4 \strokec5 sk_661d1204478c5133f0211ad3866d5c1b3fafb5771b40d2f3
\f1\fs24 \cf0 \cb1 \strokec2 \

\f0\fs29\fsmilli14667 \strokec2 RESEND_API_KEY=re_aHzNhdDa_CEurMA1NrNVyQ2GXH3Z9XnsY
\f1\fs24 \strokec2 \

\f0\fs29\fsmilli14667 \strokec2 ONESIGNAL_APP_ID=a4ef75b9-5bc0-49cb-adaf-9b1c4ea72da7
\f1\fs24 \strokec2 \

\f0\fs29\fsmilli14667 \strokec2 ONESIGNAL_API_KEY=os_v2_app_utxxlok3ybe4xlnptmoe5jznu5b6j75q4lfe2lfor2kkvhri7l26epo3asqwm7pmiv5kolpipn75ecoojvqrzo4rgvoycdufdmpldly
\f1\fs24 \strokec2 \

\f0\fs29\fsmilli14667 \strokec2 NEWSAPI_KEY=
\f2 \cf6 \cb7 \strokec6 c9e238d91fa54a5bafd5f3cccb8ee34f
\f1\fs24 \cf0 \cb1 \strokec2 \

\f0\fs29\fsmilli14667 \strokec2 YOUTUBE_API_KEY=AIzaSyAyeDWeSvouctVhywBoq8Q8C7H00F5YRzs
\f1\fs24 \strokec2 \

\f0\fs29\fsmilli14667 \strokec2 GA4_MEASUREMENT_ID=
\f3\b\fs26\fsmilli13333 G-NBMQ66M04S
\f1\b0\fs24 \strokec2 \

\f0\fs29\fsmilli14667 \strokec2 PUBLICATION_NAME=theNewslane
\f1\fs24 \strokec2 \

\f0\fs29\fsmilli14667 \strokec2 PUBLICATION_DOMAIN=thenewslane.com
\f1\fs24 \strokec2 \

\f0\fs29\fsmilli14667 \strokec2 AUTHOR_NAME=Aadi
\f1\fs24 \strokec2 \

\f0\fs29\fsmilli14667 \strokec2 NEXT_PUBLIC_SUPABASE_URL=your_url_here
\f1\fs24 \strokec2 \

\f0\fs29\fsmilli14667 \strokec2 NEXT_PUBLIC_SUPABASE_ANON_KEY=your_key_here
\f1\fs24 \strokec2 \
}
